docs/SketchFlowProject/SketchFlowProject/SketchFlowProjectScreens/SampleData/Album/Album.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Album" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Album" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Album" type="tns:Album" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Track_Number" type="xs:double" />
    <xs:attribute name="Song_Title" type="xs:string" />
  </xs:complexType>
</xs:schema>