src/app/ZuneSocialTagger.GUI/SampleData/SongTitlesWithNumbers/SongTitlesWithNumbers.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SongTitlesWithNumbers" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SongTitlesWithNumbers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SongTitlesWithNumbers" type="tns:SongTitlesWithNumbers" />
  <xs:complexType name="SongTitlesWithNumbers">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="4,12" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Number" type="xs:double" />
  </xs:complexType>
</xs:schema>